@charset 'UTF-8';

body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

#icon {
    width: 30px;
    height: 30px;
}

.menu-icon {
    display: none;
    font-size: 24x;
    color: white;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.nav-links a:hover {
    background-color: #575757;
}

.right-text {
    color: white;
    padding: 14px 16px;
    white-space: nowrap;
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        width: 100%;
    }

    .nav-links a {
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }
}