@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: #585858;
    padding: 7px 12px;
}

section {
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    nav {
        display: block;
    }

    nav > h1 {
        text-align: left;
    }

    nav > ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main img {
    width: 100%;
    height: auto;
}